*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

header{
    background-color: #9DC9CC;
}
.header-up{
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: #233060;
    font-size: 18px;
    line-height: 25px;
    text-decoration:  none;
    margin-left: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.nav-link:first-child{
    margin-left: 0;
}
.nav-link:hover{
    color: white;
    transition: 0.4s;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    background-image: url('../img/women.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 80vh;
}
.header-bottom-left{
    margin-top: 175px;
}
.header-title{
    color: #2E3E7B;
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 40px;
}
.white{
    color: white;
}
.header-offer{
    font-size: 24px;
    font-weight: 500;
    color: #233060;
    margin-bottom: 40px;
    max-width: 676px;
}

.header-button{
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.header-button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #233060;
    width: max-content;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
}